<div class="container">
  <main class="innerContainer">
      <div class="movie">
          <h3 class="movieTitle">{{movieTitle}}</h3>
          <div class="movieDetails">{{screen}} - {{time}}</div>
      </div>

      <!-- Showing a static legend bar -->
      <div class="legend">
          <span class="glyphicon glyphicon-print freeSeat"></span> FREE
          <span class="glyphicon glyphicon-ban-circle reservedSeat padding-left"></span> TAKEN
          <span class="glyphicon glyphicon-ok-sign selectedSeat padding-left"></span> SELECTED                
      </div>

      <p class="font14 marginTop5">SCREEN THIS WAY</p>
      <div class="screen"></div>
asd
      <!-- Generate the seating grid -->
      <div *ngFor="let row of rows" style="margin-top:2%" >
          <span class="seat" *ngFor="let col of cols" (click)="seatClicked(row + col)" 
                  [ngSwitch]="getStatus(row + col)" style="margin-left:2%">
              <span *ngSwitchCase="'selected'" class="glyphicon glyphicon-ok-sign selectedSeat" ></span>
              <span *ngSwitchCase="'reserved'" class="glyphicon glyphicon-ban-circle reservedSeat"></span>
              <span *ngSwitchDefault class="glyphicon glyphicon-print freeSeat"></span>
          </span>
      </div>

      <!-- Structural directive - only visible on selection -->
      <div *ngIf="selected.length > 0" class="font14 marginTB10">
          <div class="wordWrap">SEATS RESERVED : {{selected.length}} <span class="count">({{selected}})</span></div>
          <div>PRICE : {{ticketPrice}} * {{selected.length}} = {{currency}}.{{ticketPrice*selected.length}} </div>
          <div>CONVENIENCE FEE : {{currency}}.{{convFee}}</div>
          <div>TOTAL : {{currency}}.{{ticketPrice * selected.length + convFee}}</div>
      </div>

      <!-- Action buttons stolen from rajat barman -->
      <div class="buttonBar marginTop5">
          <button (click)="clearSelected()" [disabled]="selected.length === 0" class="btn btn-default btn-sm">Clear</button>
          <!-- <button (click)="showSelected()" [disabled]="selected.length === 0" class="btn btn-success btn-sm">Buy Tickets</button> -->
          <button (click)="showSelected()" [disabled]="selected.length === 0" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open Modal</button>
      </div> 
      <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>PRICE:{{price}}</p>
        <p>NUMBER of TICKET :{{tick}}</p>
        <p>CONV FEE :{{conv}}</p>
        <p>TOTAL :{{price+conv}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">PAY</button>
        
      </div>
    </div>
    
  </div>
</div>       
  </main>     
</div>